.record-select {
  width: 300px;
  border: 1px solid #afd0f5;
  font-family: sans-serif;
  background-color: #fff;
  font-size: 11px;
}

.record-select img {
  border-width: 0px;
}

.record-select form {
  display: inline;
}

.record-select form .text-input {
  width: 294px;
  margin: 2px auto 1px auto;
  display: block;
  border: 1px solid #999;
}

.record-select form input.example {
  color: #999;
  text-align: center;
}

.record-select form .search_submit {
  display: none;
}

.record-select ol,
.record-select li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  clear: both;
}

.record-select ol.scrollable {
  max-height: 200px;
  overflow: auto;
}

.record-select .record, .record-select a {
  cursor: pointer;
  color: #0066cc;
  text-decoration: none;
}

.record-select ol .record, .record-select ol a {
  display: block;
  background-color: #e6f2ff;
  padding: 2px 4px;
}

.record-select ol a.rs-mode {
  display: inline;
}

.record-select ol .even {
  background-color: #ffffff;
}

.record-select ol .pagination a {
  background-color: #eee;
}

.record-select ol .previous a {
  border-bottom: 1px solid #afd0f5;
}

.record-select ol .next a {
  border-top: 1px solid #afd0f5;
}

.record-select ol .pagination a img {
  vertical-align: middle;
}

.record-select ol .current,
.record-select ol li:hover {
  background-color: #ffff88;
}
.record-select ol li a:hover {
  color: inherit;
  background-color: inherit;
}

.record-select ol li.found:hover,
.record-select ol .found {
  text-align: center;
  font-style: italic;
  color: #999;
  padding: 1px 4px;
  border-bottom: 1px solid #afd0f5;
}

.record-select ol li.found:hover {
  background-color: inherit;
}

.record-select-container {
  position: absolute;
  z-index: 100;
}

iframe.record-select-mask {
  /* to mask windowed elements in IE6 */
  position: absolute;
  z-index: 99;
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}

.record-select-autocomplete form .text-input {
  display: none;
}

.record-select-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.record-select-list li {
  overflow: auto;
  zoom: 1;
  margin-left: 10px;
  font-size: 80%;
}

.record-select-list label {
  float: left;
}

.record-select-list a.remove {
  display: block;
  width: 0px;
  height: 16px;
  padding-left: 16px;
  background: image-url('record_select/cross.gif') no-repeat 0 0;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}

.recordselect {
  &:has(~ .clear-input-button) {
    padding-right: 20px;
  }
  &.selected {
    background-color: #EFFFEF;
    background-position: right 2px center;
    background-image: image-url('record_select/accept.png');
    background-repeat: no-repeat;
    padding-right: 20px;
    &:has(~ .clear-input-button) {
      padding-right: 40px;
    }
    + input[type=hidden] + button.clear-input-button {
      right: 40px;
    }
  }

  + input[type=hidden] + button.clear-input-button {
    /* button position */
    position: relative;
    right: 20px;
    top: 3px;
    /* button appearane */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-color: transparent;
    width: 16px;
    height: 16px;
    appearance: none;
    border: none;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    text-indent: 20px;
    overflow: hidden;
    display: none;
    &.enabled {
      display: inline-block;
    }
    &:hover {
      background-color: lightgray;
    }
  }
}

@supports (position-anchor: --recordselect) {
  *:has(> .recordselect) {
    anchor-scope: --recordselect;
  }
  .recordselect {
    &:has(~ .clear-input-button) {
      anchor-name: --recordselect;
    }
    &.selected + input[type=hidden] + button.clear-input-button {
        margin-left: -40px;
    }

    + input[type=hidden] + button.clear-input-button {
      /* button position */
      position: absolute;
      position-area: right;
      position-anchor: --recordselect;
      margin-left: -20px;
    }
  }
}